.u-section-1 .u-sheet-1 {
  min-height: 1037px;
}

.u-section-1 .u-image-1 {
  width: 893px;
  height: 602px;
  object-position: 50% 50%;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 136px 62px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 614px;
  min-height: 355px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: -306px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 14px;
}

.u-section-1 .u-text-1 {
  font-family: Pretendard-SemiBold;
  line-height: 1.8;
  font-size: 1.875rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 768px;
    height: 537px;
    margin-right: 65px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -241px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-1 .u-image-1 {
    width: 590px;
    height: 396px;
    margin-top: 137px;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-1 .u-image-1 {
    width: 488px;
    height: 308px;
    margin-top: 118px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 378px;
    min-height: 398px;
    margin-top: -58px;
    margin-left: auto;
    margin-bottom: 58px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-1 .u-image-1 {
    width: 303px;
    height: 249px;
    margin-top: 83px;
  }

  .u-section-1 .u-group-1 {
    min-height: 373px;
    margin-top: 28px;
    margin-bottom: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 771px;
}

.u-section-2 .u-text-1 {
  font-size: 3.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: Pretendard-Black;
  margin: 165px auto 0;
}

.u-section-2 .u-group-1 {
  width: 893px;
  min-height: 211px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: 80px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 25px 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: Pretendard-SemiBold;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    margin-top: -241px;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    width: 893px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    margin-top: -100px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-group-1 {
    width: 378px;
    min-height: 398px;
    margin-top: -58px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-group-1 {
    min-height: 373px;
    margin-top: 28px;
    margin-bottom: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 882px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.5rem;
  font-family: Pretendard-Black;
  margin: 165px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 80px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 321px;
  grid-gap: 30px 30px;
  grid-auto-columns: calc(33.3333% - 20px);
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-1 {
  padding: 17px 0;
}

.u-section-3 .u-icon-1 {
  height: 86px;
  width: 86px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 14px auto 0 14px;
  padding: 17px;
}

.u-section-3 .u-text-2 {
  font-size: 1.625rem;
  font-family: Pretendard-SemiBold;
  font-weight: normal;
  margin: -64px 0 0 60px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  font-family: Pretendard-SemiBold;
  line-height: 1.8;
  margin: 59px 25px 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-2 {
  padding: 17px 0;
}

.u-section-3 .u-icon-2 {
  height: 86px;
  width: 86px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 14px auto 0 14px;
  padding: 17px;
}

.u-section-3 .u-text-4 {
  font-size: 1.625rem;
  font-family: Pretendard-SemiBold;
  font-weight: normal;
  margin: -64px 0 0 60px;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  font-family: Pretendard-SemiBold;
  line-height: 1.8;
  margin: 59px 25px 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-3 {
  padding: 17px 0;
}

.u-section-3 .u-icon-3 {
  height: 86px;
  width: 86px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 14px auto 0 14px;
  padding: 17px;
}

.u-section-3 .u-text-6 {
  font-size: 1.625rem;
  font-family: Pretendard-SemiBold;
  font-weight: normal;
  margin: -64px 0 0 60px;
}

.u-section-3 .u-text-7 {
  font-size: 1.125rem;
  font-family: Pretendard-SemiBold;
  line-height: 1.8;
  margin: 59px 25px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 262px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 646px;
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    margin-top: 217px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-list-1 {
    margin-top: 265px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 947px;
}

.u-section-4 .u-text-1 {
  font-size: 3.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: Pretendard-Black;
  margin: 165px auto 0;
}

.u-section-4 .u-group-1 {
  width: 893px;
  min-height: 264px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: 80px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 28px 0;
}

.u-section-4 .u-text-2 {
  line-height: 2.2;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: Pretendard-SemiBold;
  margin: 0 58px;
}

.u-section-4 .u-btn-1 {
  --radius: 20px;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: Pretendard-SemiBold;
  margin: 80px auto 60px;
  padding: 10px 71px 10px 69px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    margin-top: -241px;
    height: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    width: 893px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
    margin-top: -100px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 378px;
    min-height: 398px;
    margin-top: -58px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-group-1 {
    min-height: 373px;
    margin-top: 28px;
    margin-bottom: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}@font-face {
  font-family: 'Pretendard-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Pretendard-SemiBold.woff);
}@font-face {
  font-family: 'Pretendard-Black';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Pretendard-Black.otf);
}@font-face {
  font-family: 'JalnanGothicTTF';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/JalnanGothicTTF.ttf);
}